/venv
.DS_Store
.env
.venv
.vscode
.idea
.pytest_cache
.pytest_cache/
.pytest_cache/v/
.pytest_cache/v/cache/
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
__pycache__/
__pycache__/*
*.pyc
.ruff_cache/
.mypy_cache/
python_workbook.IPYNB